.CategoryList {
  text-align: center;
  color: black;
  list-style: none;
  padding: 0;
  font-size: 1.7vw;
}

.CategoryList li {
  padding: 1vmin;
  display: inline;
  text-align: center;
  border-radius: .5vmin;
  margin-bottom: .5vmin;
  
}

.CategoryList li:hover:not(.active) {
  cursor: pointer;
  font-weight: 800;
  
}

.CategoryList li.active {
  color: black;
  background-color: var(--green-inner);
  border: .1vmin solid var(--green-outter);
}

