.LineItem {
  width: 100%;
  display: grid;
  /* grid-template-columns: 3vw 15.35vw 5.75vw 5.25vw; */
  grid-template-columns: 2fr 3fr 1fr;
  padding: 1vmin 0;
  background-color: var(--white);
  border-top: .1vmin solid var(--green-outter);
  font-size: 1.3vw;
  justify-content: center;
  padding: 20px; 
}

.LineItem:last-child {
  border-bottom: .1vmin solid var(--green-outter);
}

.LineItem .qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
}

.LineItem .ext-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.3vw;
}

.LineItem button {
  margin: 0;
  padding: 10px;
}